*
{
    padding: 0;
    margin: 0;
}


.section-margin-top
{margin-top: 40px;}



.about-main-header-container
{

  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about-path{text-align: right;}


.about-path > a
{
    text-decoration: none;
    color: black;
}

.about-path > span
{color: gray;}

.team-title-container
{
  text-align: center;
  color: #FD602C;

}

.team-title-container h1
{font-weight: 100;}


.mto-title-container
{
    display: flex;
    justify-content: center;
}

.meet-our-team-title
{
text-align: center;
width: 40%;
}

.meet-our-team-title span
{color: #FD602C;}



.team-card-img-container
{
    width: 100%;
    border: 1px solid gray;
    height: 315px;
    overflow: hidden;
}

.team-card-img-container img
{width: 100%}


.team-card-img-social 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #FD602C;

    transition: .4s !important;
}

.selected-team-card-img-social
{
    transform: translateY(-50px) !important
}


.team-card-img-social a 
{
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
    transition: .4s;
}



.team-card-img-social a:hover, .selected-social
{color: black;}


.team-personal-info
{
    
    background: #D5DEDD;
    transition: .4s;
    text-align: center;
}


.selected-team-personal-info 
{
    background: #242424 !important;
}

.selected-team-personal-info p
{color: #fff !important;}
.team-personal-info p
{

    margin: 0;
    padding: 4px 0px;
    font-size: 25px;
}

.team-personal-info span
{
    display: inline-block;
    padding-bottom: 20px;
    margin-top: 40px;
    color: gray;
}


.team-personal-info p:nth-child(2)
{color: #FD602C !important;}





#statistics
{
    background: #F6F6F6;
    padding: 150px 0px;
}

.creative-design-card
{
    width: 100%;
    height: auto;
    background: #fff;
    cursor: pointer;
    transition: 10s !important;
    
    
}

.creative-design-card i 
{ 
  line-height: 50px;
  padding-left: 10px;
  font-size: 22px;
}


.creative-desing-card-box
{
  background: #F6F6F6;
  overflow: hidden;
  height: 0;
  transition: .4s;

}


.creative-design-text
{padding: 10px;}

.active-card-box
{
    height: auto;
}

.active-creative-design
{}


.active-creative-design span
{
  color: #FD602C;
}

/* creative design end */



.load-bar-container
{
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    
}

.load-bar
{
    display: flex;
    align-items: center;
    position: absolute;
    height: 40px;
    color: #F6F6F6;
    background: #FD602C;
    font-size: 17px;
    
}

.load-bar span
{
 margin-left: 10px;
 text-transform: uppercase;
}

.javascript-bar
{width: 80%;}

.photoshop-bar
{width: 90%;}

.load-design-bar
{width: 70%;}

.photography-bar
{width: 75%;}


.about-slider-wrapper
{
    width: 100%;
    height: 258px;

}

.about-slider-container

{
 position: relative;   
 width: 100%;
 height: 100%;
 overflow: hidden;
}


.about-slider-item-header
{
    background: #fff;
    padding: 10px;
    color: #656565;
}

.about-slider-item-content
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.about-content-img img
{
    border-radius: 50%;
    border: 5px solid #FD602C;
}


.about-slider-content-desc
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    width: 100%;
    height: auto !important;
}

.about-slider-item
{
 position: absolute;
 top: 0;
 left: 0;
 transition: 5s;
}

.about-slider-content-desc  span
{color: #FD602C;}


.about-indicators-group
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.indicator
{ 
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: silver;
    margin-left: 3px;
}

.active-indicator
{background: gray !important;}

